<div class="container-fluid hero-cover">
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h4 class="text-white mt-5">Why join the Bridgers</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-white">
               <p>
                   Our people is the core of the company. They have the biggest contribution to the success of the company and in BBI they
                   just know how to appreciate their endeavor. We involve our people in developing what will be best for the company
               </p>

               <p>
                   BBI offers exceptional opportunity giving our people to explore their capabilities, expand their wings and experience a greate workplace
                   and experience equality.
               </p>

               <p>
                   Interested to join ? Come join and discover Business Bridger Inc. <a href="javascript:void(0)" routerLink="/contact" class="text-white"><u>Click Apply</u></a>.
               </p>
            </div>

        </div>
    </div>

    <div class="container-fluid fixed-bottom ">
        <footer class="row bg-bbi-dark">
            <div class="col text-center p-3">
                <h6>
                    <small class="text-white">
                        @ COPYRIGHT
                    </small>
                </h6>
            </div>
        </footer>
    </div>
</div>