<div class="container"  style="height: 50vh;" *ngIf="authenticated">
    <div class="row">
        <div class="col text-center" style="padding: 100px;">
            <h3>Hi <strong>{{ userInfo?.name }}</strong> !</h3>
            <h4><u>{{ userInfo?.email }}</u></h4>
            <h4>Welcome to GetReady.ph! The first fully integrated one-stop virtual portal in the Philippines dedicated to Safety and Emergency Preparedness Needs. It's an online resource center, an online help reference center and an e-shopping site for your essential preparedness needs, all rolled into one!</h4>
        </div>
    </div>
</div>