<div class="container-fluid hero-cover">
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h4 class="text-white">Businesses and employers play a key role in preventing and slowing the spread of
                    the SARS-CoV-2 within the company.
                    BBI ensures the safety of each employee</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card-transparent">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold">Workplace</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted text-white">Subtitle</h6> -->
                        <p class="card-text text-white text-justify">
                            In BBI, we have implemented a workplace worry-free environment.</p>

                        <p class="card-text text-white text-justify">As you enter the workplace, everything is being checked from your body temperature, wearing the right face
                            mask, asking each employees to sanitize their hands.</p>

                        <p class="card-text text-white text-justify">Air purifier, with UV light, is placed in each room. We ensure that we have a good
                            ventilation in every corner of the office.</p>
                        <p class="card-text text-white text-justify">And as part of the prevention, we allotted the
                            right number of tables and chairs for each room to observe social distancing in each room.
                            And everything is being sanitized every time just to make sure the safety of everyone.</p>
                        <p class="card-text text-white text-justify">BBI is well prepared as we have an isolation room for those employees showing symptoms and our
                            nurse will take care of them.</p>





                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="card-transparent">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold">Travel Support</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted text-white">Subtitle</h6> -->
                        <p class="card-text text-white text-justify">
                            BBI allotted shuttle service for all the employees for them not to get exposed.
                            All employees are being shuttled going to the office and from going back home.
                        </p>

                        <p class="card-text text-white text-justify">
                            Before employees go on board, body temperature is also being checked, sanitizes their hands and ensuring that they have face mask.
                        </p>

                        <p class="card-text text-white text-justify">All shuttle services are equipped of air purifiers with UV light
                        </p>
                    </div>
                </div>

                <div class="card-transparent">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold">Vaccine Support</h4>

                    </div>
                </div>


                <!-- <div id="home_img">

                </div> -->
            </div>
        </div>
    </div>

    <div class="container-fluid fixed-bottom ">
        <footer class="row bg-bbi-dark">
            <div class="col text-center p-3">
                <h6>
                    <small class="text-white">
                        @ COPYRIGHT
                    </small>
                </h6>
            </div>
        </footer>
    </div>
</div>