<div class="container-fluid">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-5">
				<div class="card-transparent">
					<div class="card-body">
					  <h4 class="card-title text-white font-weight-bold">The Company</h4>
					  <!-- <h6 class="card-subtitle mb-2 text-muted text-white">Subtitle</h6> -->
					  <p class="card-text text-white text-justify">
						We are a Company that provides equality to the team making our people the core.
                        What makes Business Bridgers Inc. unique is well influenced by
                        <em>leadership, workplace practices, people and culture while ensuring positive impact to performance,
                            satisfaction, happiness and success. </em>
					  </p>
					</div>
				</div>

				<div class="card-transparent mt-2">
					<div class="card-body">
					  <h5 class="card-title text-white font-weight-bold">The Leadership</h5>
					  <!-- <h6 class="card-subtitle mb-2 text-muted text-white">Subtitle</h6> -->
					  <p class="card-text text-white text-justify">
						Pioneers in the BPO Industry ensure exceptional service delivery and positive results for our clients and shareholders.
                        We focus on strategies where we believe we have the resources to underpin a commitment sustained value.
                        We think and plan carefully and ensure that we do not compromise our standards and the standards expected on us.
                        Our experience ensures that Business Bridgers Inc . is an amazing and rewarding organization to work for.

					  </p>
					  <!-- <a href="#" class="card-link">Card link</a> -->
					  <!-- <a href="#" class="card-link float-right text-white">> read more</a> -->
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="card-transparent">
					<div class="card-body">
					  <h4 class="card-title text-white font-weight-bold">The Commitment</h4>
					  <!-- <h6 class="card-subtitle mb-2 text-muted text-white">Subtitle</h6> -->
					  <p class="card-text text-white text-justify">
						Our highly skilled manpower, cutting-edge technology and reliable infrastructure are engineered to reduce our client’s costs and risks,
                        increased savings and revenues and optimized work flow.
                        We help our clients to scale their businesses, conquer their niches and diversify with more success.
					  </p>
					</div>
				</div>

				<!-- <div id="home_img">

				</div> -->
			</div>
		</div>
	</div>

	<div class="container-fluid fixed-bottom ">
		<footer class="row bg-bbi-dark">
			<div class="col text-center p-3">
				<h6>
					<small class="text-white">
						@ COPYRIGHT
					</small>
				</h6>
			</div>
		</footer>
	</div>
</div>

