<div class="container">
    <div class="row mb-3">
        <div class="col text-center">
            <h4><strong>About Us</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col text-justify">
            <p>Here in the Philippines, the Government and its agencies are now massively and constantly taking the necessary initiatives and measures to educate, inform and guide the people on the measures to take during an emergency. Corporations are scrambling to equip their offices and personnel with emergency kits, tools and supplies. Families too, after experiencing and witnessing the many earthquakes and typhoons in the country,
                are looking at ways to protect their loved ones and learning to be more prepared mentally, emotionally and physically.</p>

            <p>
                Unfortunately, after all the lessons learnt, the trainings received, the emergency drills carried out, many are still left all on their own, filled with newly found life-saving knowledge but lacking the tools and supplies to help them stay alive or be better prepared. Most of these are not commonly found items in the supermarkets or malls nor in many online stores, and even if found,
                we find it difficult to know if they are of the right quality or type to help you stay alive because they are just treated as another product for sale.
            </p>

            <p>
                Now this is why GetReady is the right and best online place for you to:
            </p>
            <ol>
                <li>Learn more about what to do and how to help save a life</li>
                <li>
                    Gather updated information on natural disasters and news
                </li>
                <li>
                    Get the right and best safety, preparedness and response items and supplies for your needs
                </li>
            </ol>

            <p>
                At GetReady, we ONLY work with teams of actual EMS responders, Search and Rescue personnel, professionals who are directly involved in the disaster risk resilience and management industry, proven vendors who specialize in tactical and survival items and supplies;
                all just to bring you the right information and recommend the right items that you will need to help you stay alive.
            </p>

            <p>
                We don’t sell everything, we only offer you things that can help save your life or help you save a life, and that’s precisely why you need to Get Yourself Ready, and get what you need at GetReady!
            </p>

            <h6><strong>Our Noble Vision</strong></h6>

            <p>
                To be the nation’s preferred reliable and premier platform providing everyone the right choices and guidance on what they need besides what they want to help keep everyone safe!
            </p>

            <h6><strong>Our Prayerful Mission</strong></h6>

            <p>
                Developing a community that is knowledgeable and truly well prepared to face any emergency by providing them the right support, information, advocacy and dedicated products.
            </p>

        </div>
    </div>
</div>