<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
			
		<!-- 	<h1 class="text-danger">SERVER MAINTENANCE</h1> -->
			<h4>STICKER APPLICATION PROCESS FLOW</h4>

		</div>
	</div>

	<div class="row mb-5 mt-5">
		<div class="col-md-4 text-center offset-md-4">
			<img src="assets/img/resident.jpg" class="img-fluid" alt="Responsive image">
		</div>
	</div>
	
	<div class="row mt-3">
		<div class="col-md-6 text-center">
			<iframe title="vimeo-player" src="https://player.vimeo.com/video/474660313" width="100%" height="731" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6 text-center">
			
			<img src="assets/img/flowsticker.jpg" class="img-fluid" alt="Responsive image" >

		</div>
	</div>

	<div class="row mt-5">
		<div class="col text-center">
			<h5 class="text-muted">ONLINE STICKER APPLICATION FORM</h5>
			<h5 class="text-muted mb-5">Press on the button to fill out an On-line Sticker Application Form.</h5>
			<!-- <h6 class="text-danger">Button Not available</h6> -->
			<a href="http://bffhaiapplications.com/" class="btn btn-secondary btn-lg">APPLY NOW</a>
		</div>
	</div>
</div>