<div class="container-fluid">
	<div class="row mb-5">
		<div class="col text-center">
			<h4>PDF Printable Forms</h4>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download Resident Sticker Application Form</h5>

			<a href="assets/2021-RESIDENT-STICKER-APPLICATION-FORM.pdf" target=”_blank”>
				<h3>2021 RESIDENT STICKER APPLICATION FORM.pdf</h3>
			</a>
		</div>
	</div>


	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download Non Resident Sticker Application Form</h5>

			<a href="assets/2021-NON-RESIDENT-STICKER-APPLICATION-FORM.pdf" target=”_blank”>
				<h3>2021 NON RESIDENT STICKER APPLICATION FORM.pdf</h3>
			</a>
		</div>
	</div>


	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download BUSINESS/COMMERCIAL CLEARANCE 2021 Application Form </h5>

			<a href="assets/App-for-Business-2021.pdf" target=”_blank”>
				<h3>App-for-Business-2021.pdf</h3>
			</a>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download CONSTRUCTION CLEARANCE 2021 Application Form  </h5>

			<a href="assets/App-for-Construction-2021.pdf" target=”_blank”>
				<h3>App-for-Construction-2021.pdf</h3>
			</a>
		</div>
	</div>



	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download COMMERCIAL-2021  Application Form   </h5>

			<a href="assets/COMMERCIAL-2021.pdf" target=”_blank”>
				<h3>COMMERCIAL-2021.pdf</h3>
			</a>
		</div>
	</div>


	<div class="row mb-4">
		<div class="col-md-6 offset-md-3 text-center">
			<h5>Press on the link to download MOTORCYCLE-2021  Application Form    </h5>

			<a href="assets/MOTORCYCLE-2021.pdf" target=”_blank”>
				<h3>MOTORCYCLE-2021.pdf</h3>
			</a>
		</div>
	</div>
</div>