<div class="container-fluid">
    <div class="row mb-3">

        <div class="col-md-4 offset-md-4 text-center">
            <div class="alert alert-success" role="alert" *ngIf="sended">
                We have e-mailed your password reset link!.
            </div>
            <h4><strong>Forgot your password ?</strong></h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3 offset-md-1">
            <!-- <img src="assets/img/getready-for-free.jpg" alt="" class="img-fluid"> -->

        </div>

        <div class="col-md-4 bg-light">
            <div class="card-transparent">
                <div class="card-body">

                    <h5 class="mb-3">Enter your email address and we'll send you a link to reset your password</h5>
                    <form [formGroup]="signUpForm" class="container-fluid" (keyup.enter)="submitSignUpForm('enter')">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control form-control-sm bg-fb" id="email"
                                        formControlName="email">

                                    <small class="text-danger" *ngIf="sf.email?.errors?.required">
                                        Email is required <br />
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="btn btn-primary mb-1 btn-block"
                                    (click)="submitSignUpForm('button')" [disabled]="!signUpForm.valid || submit.load">RESET
                                    PASSWORD</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p-progressBar *ngIf="submit.load" styleClass="rounded-0" mode="indeterminate"
                                    [style]="{'height': '10px'}"></p-progressBar>
                            </div>
                        </div>




                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>