<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
			<h4>ANNOUNCEMENT</h4>
			
		</div>
	</div>


	

	<div class="row mb-5 mt-5">
		<div class="col-md-4 text-center offset-md-4">
			<img src="assets/img/resident.jpg" class="img-fluid" alt="Responsive image">
		</div>
	</div>


	<div class="row">
		<div class="col-md-6 offset-md-3 text-justify">
			
			<h5 class="text-muted">Applications for resident stickers is to be submitted in bulk by your enclave. Please consult with your respective President.</h5>

			<!-- <h5 class="text-muted mt-3">2020 motorcycle stickers are still available valid till 28 February 2021 at a price of only P400.  Red stickers will be used for residents and non residents. Online application  now available.</h5> -->

			<h5 class="text-muted mt-3">Issuance of stickers for motorcycles & commercial vehicles will start on January 4, 2021.</h5>

			<h5 class="text-muted mt-3">For your friends and relatives applying for BFFHAI non-resident stickers and living in the following.</h5>

			<ul class="mt-3">
				<li class="text-muted">Ayala Alabang</li>
				<li class="text-muted">Alabang Hills</li>
				<li class="text-muted">Lopez</li>
				<li class="text-muted">Citadella</li>
				<li class="text-muted">Camella</li>
				<li class="text-muted">Southland Estate</li>
				<li class="text-muted">Jackielouville</li>
				<li class="text-muted">Tahanan</li>
				<li class="text-muted">Maywood</li>
				<li class="text-muted">Teoville</li>
			</ul>

		</div>
	</div>
</div>