<div class="container-fluid">
    <div class="container">
        <div class="row mt-5">
            <div class="col ">
                <h4 class="text-white">With our well-experienced team,  we make it easier for you. We always think of ways to innovate any solutions that will help ease the job.
                </h4>
            </div>
        </div>


        <div class="row mt-5 mb-5">
            <div class="col">
                <div class="card-transparent border-bbi-light h-100">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold text-center">Live Platform</h4>
                        <ul class="text-white">
                            <li>Voice</li>
                            <li>Chat</li>
                            <li>Email Response
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card-transparent border-bbi-light h-100">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold text-center">Offline Platforms</h4>
                        <ul class="text-white">
                            <li>Medical Transcription</li>
                            <li>Closed Caption</li>
                            <li>Back Office Support</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card-transparent border-bbi-light h-100">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold text-center">Operations Support</h4>
                        <ul class="text-white">
                            <li>Workforce Management</li>
                            <li>Training Delivery</li>
                            <li>Quality Assurance</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card-transparent border-bbi-light h-100">
                    <div class="card-body">
                        <h4 class="card-title text-white font-weight-bold text-center">Consultancy</h4>
                        <ul class="text-white">
                            <li>Market Research</li>
                            <li>Market Access and Client Management</li>
                            <li>IT Management ( Digital Transformation )</li>
                            <li>IT Services ( LAN-WAN- Server Set-up, SAAS for HR, Accounting, Operations, BMS, Security)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col">
                <p class="card-text text-white text-justify text-center mt-3">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur."
                </p>
            </div>
        </div> -->

    </div>



    <div class="container-fluid fixed-bottom d-none d-sm-block">
        <footer class="row bg-bbi-dark">
            <div class="col text-center p-3">
                <h6>
                    <small class="text-white">
                        @ COPYRIGHT
                    </small>
                </h6>
            </div>
        </footer>
    </div>
</div>


 <div class="container-fluid d-block d-sm-none">
        <footer class="row bg-bbi-dark">
            <div class="col text-center p-3">
                <h6>
                    <small class="text-white">
                        @ COPYRIGHT
                    </small>
                </h6>
            </div>
        </footer>
    </div>

