<div class="container">
    <div class="row mb-3">
        <div class="col text-center" style="height: 300px;">
            <img src="assets/img/whattodo/banner.jpg" alt="" class="img-fluid" style="height: 100%;">
        </div>
    </div>


    <div class="row mb-3">
        <div class="col" >
            <p-tabMenu [model]="items" #tab [activeItem]="items[0]" (click)="activateMenu(tab)"></p-tabMenu>
        </div>
    </div>

    <div class="row mb-3" id="earthquake">

        <div class="col-md-12 text-center" style="height: 250px;">
            <img src="assets/img/whattodo/eq.jpg" alt="" class="img-fluid" style="height: 100%">
        </div>

        <div class="col text-center">
            <h4><strong>EARTHQUAKE</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <p class="text-justify">
                The primary effects of earthquakes are ground shaking, ground rupture, <strong>landslides,
                    tsunamis,</strong> and liquefaction.
                Fires are probably the single most important secondary effect of earthquakes. Staying calm is the
                <Strong>first step</Strong> in <strong>earthquake</strong>
                safety precautions. When an <strong>earthquake</strong> starts, grab your emergency preparedness kit.
                Remember, Drop, Cover, and Hold On. Get down on the ground under a table or desk.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h5>What to Do Before an Earthquake</h5>

            <ul>
                <li>Make sure you have a fire extinguisher, a go bag complete with first aid kit, a battery-powered
                    radio, a flashlight, and extra batteries at home.</li>
                <li>Learn first aid.</li>
                <li>Learn how to turn off the gas, water, and electricity.</li>
                <li>Make up a plan of where to meet your family after an earthquake.</li>
                <li>Don't leave heavy objects on shelves (they'll fall during a quake).</li>
                <li>Anchor heavy furniture, cupboards, and appliances to the walls or floor.</li>
                <li>Learn the earthquake plan at your school or workplace.</li>
            </ul>

            <h5>What to Do During an Earthquake</h5>

            <ul>
                <li><strong>Stay calm!</strong> If you're indoors, stay inside. If you're outside, stay outside.</li>
                <li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or
                    crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.
                </li>
                <li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away
                    from buildings (stuff might fall off the building or the building could fall on you).
                </li>
                <li>Don't use matches, candles, or any flame. Broken gas lines and fire don't mix.
                </li>
                <li>If you're in a car, stop the car and stay inside the car until the earthquake stops.
                </li>
                <li>Don't use elevators (they'll probably get stuck anyway).</li>
            </ul>

            <h5>What to Do After an Earthquake</h5>

            <ul>
                <li>Check yourself and others for injuries. Provide first aid for anyone who needs it.</li>
                <li>Check water, gas, and electric lines for damage. If any are damaged, shut off the valves. Check for
                    the smell of gas. If you smell it, open all the windows and doors, leave immediately, and report it
                    to the authorities (use someone else's phone).
                </li>
                <li>Turn on the radio. Don't use the phone unless it's an emergency.
                </li>
                <li>Stay out of damaged buildings.</li>
                <li>Be careful around broken glass and debris. Wear boots or sturdy shoes to keep from cutting your
                    feet.
                </li>
                <li>Be careful of chimneys (they may fall on you).</li>
                <li>Stay away from beaches. Tsunamis and seiches sometimes hit after the ground has stopped shaking.
                </li>
                <li>Stay away from damaged areas.</li>
                <li>If you're at school or work, follow the emergency plan or the instructions of the person in charge.
                </li>
                <li>Expect aftershocks.</li>
            </ul>

            <em><i>(Source: MICHIGAN TECHNOLOGICAL UNIVERSITY.)</i></em>

        </div>
    </div>



    <div class="row mb-3" id="typhoon">

        <div class="col-md-12 text-center" style="height: 250px;">
            <img src="assets/img/whattodo/typhoon.jpg" alt="" class="img-fluid" style="height: 100%">
        </div>


        <div class="col text-center">
            <h4><strong>TYPHOON</strong></h4>
        </div>
    </div>


    <div class="row">
        <div class="col mb-3">
            <h5>How to Prepare Before a Typhoon</h5>
            <h5>Protecting Your Family</h5>


            <ul>
                <li>Talk with your family about what to do if a Typhoon strikes. Discussing Typhoons ahead of time helps
                    reduce fear, particularly for younger children</li>
                <li>Purchase a battery-powered or hand-crank radio. Make sure you have access to radio broadcasts BEFORE
                    a Typhoon strikes</li>
                <li>Keep insurance policies, documents, and other valuables in a safe-deposit box. You may need quick,
                    easy access to these documents. Keep them in a safe place less likely to be damaged if a Typhoon
                    causes flooding.
                </li>
                <li>
                    Take pictures on a phone and keep copies of important documents and files on a flashdrive that you
                    can carry with you on your house or car keys.

                </li>
            </ul>

            <em><i>(Right Before)</i></em>



            <ul>
                <li>Listen to local area radio, or TV stations for the latest information and updates.</li>
                <li>Be prepared to evacuate quickly and know your routes and destinations. Find a local emergency
                    shelter.</li>
                <li>Check your emergency kit and replenish any items missing or in short supply, especially medications
                    or other medical supplies. Keep it nearby.</li>
                <li>Fill plastic bottles with clean water for drinking.</li>
                <li>Fill bathtubs and sinks with water for flushing the toilet or washing the floor or clothing.</li>
                <li>Fill your car's gas tank, in case an evacuation notice is issued.</li>
                <li>Turn off propane tanks and unplug small appliances.</li>
                <li>Bring in anything that can be picked up by the wind</li>
            </ul>

            <h5>Staying Safe During a Typhoon</h5>

            <ul>
                <li>Stay indoors.</li>
                <li>Don’t walk on beaches, riverbanks or in flood waters.</li>
                <li>Use flashlights in the dark if the power goes out. </li>
                <li>Continue listening to local area radio, or TV stations for the latest information and updates.</li>
                <li>Avoid contact with floodwater. It may be contaminated with sewage or contain dangerous insects or
                    animals.</li>
                <li>Turn off the power and water mains if instructed to do so by local authorities.</li>

            </ul>


            <h5>Staying Safe Outdoors</h5>

            <ul>
                <li>Don't walk, swim or drive through floodwater. Just six inches of fast-flowing water can knock you
                    over and two feet will float a car.</li>
                <li>If caught on a flooded road with rapidly rising waters, get out of the car quickly and move to
                    higher ground.</li>
                <li>Don't walk on beaches or riverbanks.</li>
                <li>Don’t allow children to play in or near flood water.</li>
                <li>Avoid contact with floodwater. It may be contaminated with sewage or contain dangerous insects or
                    animals.</li>
                <li>Stay out of areas subject to flooding. Underpasses, dips, low spots, canyons, washes, etc. can
                    become filled with water.</li>

            </ul>

            <em><i>(Source: RedCross.org)</i></em>

        </div>
    </div>




    <div class="row mb-3" id="flood">

        <div class="col-md-12 text-center" style="height: 250px;">
            <img src="assets/img/whattodo/flood.jpg" alt="" class="img-fluid" style="height: 100%">
        </div>


        <div class="col text-center">
            <h4><strong>FLOOD</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <p class="text-justify">
                Flooding is a temporary overflow of water onto land that is normally dry. Floods are the most common
                natural disaster globally. Failing to evacuate flooded areas or entering flood waters can lead to injury
                or death. Floods may:
            </p>
        </div>
    </div>





    <div class="row">
        <div class="col mb-3">

            <ul>
                <li>Result from rain, snow, coastal storms, storm surges and overflows of dams and other water systems.
                </li>
                <li>Develop slowly or quickly. Flash floods can come with no warning.</li>
                <li>Cause outages, disrupt transportation, damage buildings and create landslides.</li>
            </ul>

            <h5>If you are under a flood warning:</h5>

            <ul>
                <li>Find safe shelter right away.</li>
                <li>Do not walk, swim or drive through flood waters. Turn Around, Don’t Drown!</li>
                <li>Remember, just six inches of moving water can knock you down, and one foot of moving water can sweep
                    your vehicle away.</li>
                <li>Stay off bridges over fast-moving water.</li>
            </ul>


            Depending on the type of flooding: <br />
            - Evacuate if told to do so. <br />
            - Move to higher ground or a higher floor. <br />
            - Stay where you are. <br />

            <h5>Preparing for a Flood</h5>

            <ul>
                <li>Know Your Risk for Floods - Contact your local authorities to know types of flood risk in your area.
                </li>
                <li>Sign up for your community’s warning system or app if they have one. </li>
                <li>Purchase or renew a flood insurance policy if you have one. Do it well before a disaster.</li>
                <li>Make a plan for your household, including your pets, so that you and your family know what to do,
                    where to go, and what you will need to protect yourselves from flooding. Learn and practice
                    evacuation routes, shelter plans, and flash flood response. Gather supplies, including
                    non-perishable foods, cleaning supplies, and water for several days, in case you must leave
                    immediately or if services are cut off in your area.
                </li>
                <li>Keep important documents in a waterproof container. Create password-protected digital copies. </li>
                <li>Protect your property. Move valuables to higher levels. Declutter drains and gutters. Install check
                    valves.</li>
            </ul>

            <h5>Staying Safe During a Flood</h5>


            <ul>
                <li>Cover electrical sockets and turn off the electricity especially if the flood is one that is fast
                    rising.</li>

                <li>Evacuate immediately, if told to evacuate. Never drive around barricades. Local responders use them
                    to safely direct traffic out of flooded areas.</li>
                <li>Contact your healthcare provider If you are sick and need medical attention. Wait for further care
                    instructions and shelter in place, if possible. If you are experiencing a medical emergency, call
                    9-1-1.
                </li>
                <li>Listen to Radio/TV or local alerting systems for current emergency information and instructions.
                    (Get a battery operated or hand cranked radio)</li>
                <li>Do not walk, swim or drive through flood waters. Turn Around. Don’t Drown!</li>
                <li>Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.
                </li>
                <li>Stay inside in your if it is trapped in rapidly moving water. Get on the roof if water is rising
                    inside the car.</li>

                <li>Get to the highest level if trapped in a building. Only get on the roof if necessary and once there,
                    signal for help. Do not climb into a closed attic to avoid getting trapped by rising floodwater.
                </li>


            </ul>

            <h5>Staying Safe After a Flood</h5>

            <ul>
                <li>Pay attention to authorities for information and instructions. Return home only when authorities say
                    it is safe.</li>
                <li>Avoid driving except in emergencies.</li>
                <li>Wear heavy work gloves, protective clothing and boots during clean up and use appropriate face
                    coverings or masks if cleaning mold or other debris (People with asthma and other lung conditions
                    and/or immune suppression should not enter buildings with indoor water leaks or mold growth that can
                    be seen or smelled. Children should not take part in disaster cleanup work).
                </li>
                <li>Be aware that snakes and other animals may be in your house.</li>
                <li>Be aware of the risk of electrocution. Do not touch electrical equipment if it is wet or if you are
                    standing in water. Turn off the electricity to prevent electric shock if it is safe to do so.
                </li>
                <li>Avoid wading in floodwater, which can be contaminated and contain dangerous debris. Underground or
                    downed power lines can also electrically charge the water.
                </li>
                <li>Use a generator or other gasoline-powered machinery ONLY outdoors and away from windows.</li>
            </ul>

            <em><i>Source: Ready.gov (US)</i></em>
        </div>
    </div>

    <div class="row mb-3" id="fire">

        <div class="col-md-12 text-center" style="height: 250px;">
            <img src="assets/img/whattodo/fire.jpg" alt="" class="img-fluid" style="height: 100%">
        </div>


        <div class="col text-center">
            <h4><strong>FIRE</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-mb-3">
            <h5>Learn About Fires</h5>

            <ul>
                <li><strong>Fire is FAST!</strong> In less than 30 seconds a small flame can turn into a major fire. It
                    only takes minutes for thick black smoke to fill a house or for it to be engulfed in flames. In just
                    two minutes a fire can become life-threatening. In five minutes, a residence can, be engulfed in
                    flames.
                </li>
                <li><strong>Fire is HOT!</strong> Heat is more threatening than flames. Room temperatures in a fire can
                    be 100 degrees at floor level and rise to 600 degrees at eye level. Inhaling this super-hot air will
                    scorch your lungs and melt clothes to your skin.
                </li>
                <li><strong>Fire is DARK!</strong> Fire starts bright, but quickly produces black smoke and complete
                    darkness.
                </li>
                <li><strong>Fire is DEADLY!</strong> Smoke and toxic gases kill more people than flames do. Fire
                    produces poisonous gases that make you disoriented and drowsy. Asphyxiation is the leading cause of
                    fire deaths, exceeding burns by a 3-to-1 ratio.
                </li>
            </ul>


            <h5>If a Fire Starts:</h5>

            <ul>
                <li>Know how to safely operate a fire extinguisher </li>
                <li>Remember to GET OUT, STAY OUT and CALL 9-1-1 or your local emergency phone number.</li>
                <li>Yell "Fire!" several times and go outside right away. If you live in a building with elevators, use
                    the stairs. Leave all your things where they are and save yourself.
                </li>
                <li>If closed doors or handles are warm or smoke blocks your primary escape route, use your second way
                    out. Never open doors that are warm to the touch.
                </li>
                <li>If you must escape through smoke, get low and go under the smoke to your exit. Close doors behind
                    you.
                </li>
                <li>If smoke, heat or flames block your exit routes, stay in the room with doors closed. Place a wet
                    towel under the door and call the fire department or 9-1-1. Open a window and wave a brightly
                    colored cloth or flashlight to signal for help.
                </li>
                <li>Once you are outside, go to your meeting place and then send one person to call the fire department.
                    If you cannot get to your meeting place, follow your family emergency communication plan.
                </li>
            </ul>


            <h5>If Your Clothes Catch on Fire:</h5>

            <ul>
                <li><strong><u>Stop</u></strong> what you’re doing.</li>
                <li><strong><u>Drop</u></strong> to the ground and cover your face if you can.</li>
                <li><strong><u>Roll</u></strong> over and over or back and forth until the flames go out. Running will
                    only make the fire burn faster.</li>
                <li>Once the flames are out, cool the burned skin with water for three to five minutes. Call for medical
                    attention.</li>
            </ul>

            <h5>Before a Fire</h5>

            <p>Create and Practice a Fire Escape Plan</p>

            <p>In the event of a fire, remember that every second counts. Escape plans help you get out of your home
                quickly. Twice each year, practice your home fire escape plan. Some tips to consider when preparing this
                plan include:</p>

            <ul>
                <li>Find two ways to get out of each room in the event the primary way is blocked by fire or smoke.</li>
                <li>Make sure that windows are not stuck, screens can be taken out quickly and that security bars can be
                    properly opened.</li>
                <li>Practice feeling your way out of the house in the dark or with your eyes closed.</li>
                <li>Teach children not to hide from firefighters.</li>
            </ul>

            <h5>Smoke Alarms</h5>

            <p>A working smoke alarm significantly increases your chances of surviving a deadly home fire.</p>

            <ul>
                <li>Replace batteries twice a year, unless you are using 10-year lithium batteries.</li>
                <li>Install smoke alarms on every level of your home, including the basement.</li>
                <li>Replace the entire smoke alarm unit every 10 years or according to manufacturer’s instructions.</li>
                <li>Never disable a smoke alarm while cooking – it can be a deadly mistake.</li>
            </ul>

            <h5>Smoke Alarm Safety for People with Access or Functional Needs</h5>

            <ul>
                <li>Audible alarms for visually impaired people should pause with a small window of silence between each
                    successive cycle so that they can listen to the instructions or voices of others.
                </li>

                <li>Smoke alarms with a vibrating pad or flashing light are available for the hearing impaired. Contact
                    your local fire department for information about obtaining a flashing or vibrating smoke alarm.
                </li>
                <li>Smoke alarms with a strobe light outside the home to catch the attention of neighbors and emergency
                    call systems for summoning help are also available.
                </li>
            </ul>

            <h5>More Fire Safety Tips</h5>
            <ul>
                <li>Make digital copies of valuable documents and records like birth certificates.</li>
                <li>Sleep with your bedroom door closed.</li>
                <li>Keep a fire extinguisher in your kitchen. Contact your local fire department for assistance on the
                    proper use and maintenance.</li>
                <li>Consider installing an automatic fire sprinkler system in your residence.</li>
            </ul>

            <em><i>Source: RedCross.Org & Ready.gov (US)</i></em>
        </div>
    </div>

    <div class="row mb-3" id="pandemic">

        <div class="col-md-12 text-center" style="height: 250px;">
            <img src="assets/img/whattodo/pandemic.jpg" alt="" class="img-fluid" style="height: 100%">
        </div>


        <div class="col text-center">
            <h4><strong>PANDEMIC</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <p class="text-justify">
                A pandemic is a disease outbreak that spans several countries and affects a large number of people.
                Pandemics are most often caused by viruses, like <strong><u class="text-primary">Coronavirus Disease
                        2019 (COVID-19)</u></strong>, which can easily spread from person to person.
            </p>

            <p class="text-justify">
                A new virus, like COVID-19, can emerge from anywhere and quickly spread around the world. It is hard to
                predict when or where the next new pandemic will emerge.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">

            <h5>If a Pandemic is declared:</h5>


            <ul>
                <li>Wash your hands often with soap and water for at least 20 seconds and try not to touch your eyes,
                    nose or mouth.</li>
                <li>Keep a distance of at least six feet between yourself and people who are not part of your household.
                </li>
                <li>Cover your mouth and nose with a mask when in public.</li>
                <li>Clean and disinfect high-touch objects and surfaces.</li>
                <li>Stay at home as much as possible to prevent the spread of disease.</li>
                <li>Follow the guidance of the Centers for Disease Control and Prevention (CDC).</li>

            </ul>


            <h5>How to Prepare Yourself for a Pandemic</h5>

            <ul>
                <li><strong>Learn how diseases spread</strong> to help protect yourself and others. Viruses can be
                    spread from person to person, from a non-living object to a person and by people who are infected
                    but don’t have any symptoms.
                </li>
                <li><strong>Prepare for the possibility of schools, workplaces and community centers being
                        closed.</strong> Investigate and prepare for virtual coordination for school, work (telework)
                    and social activities.
                </li>
                <li><strong>Gather supplies in case you need to stay home for several days or weeks.</strong> Supplies
                    may include cleaning supplies, non-perishable foods, prescriptions and bottled water. Buy supplies
                    slowly to ensure that everyone has the opportunity to buy what they need.
                </li>
                <li><strong>Create an emergency plan</strong> so that you and your family know what to do and what you
                    will need in case an outbreak happens. Consider how a pandemic may affect your plans for other
                    emergencies.
                </li>
                <li><strong>Review your health insurance policies</strong> to understand what they cover, including
                    telemedicine options.
                </li>
                <li><strong>Create password-protected digital copies of important documents</strong> and store in a safe
                    place. Watch out for scams and fraud.
                </li>
            </ul>

            <h5>Stay Safe During a Pandemic</h5>

            <p><strong>Get vaccinated once available.</strong> Vaccines stimulate your immune system to produce
                antibodies, so vaccines actually prevent diseases.</p>


            <ul>
                <li><strong>Take actions to prevent the spread of disease.</strong> Cover coughs and sneezes. Wear a
                    mask in public. Stay home when sick (except to get medical care). Disinfect surfaces. Wash hands
                    with soap and water for at least 20 seconds. If soap and water are not available, use a hand
                    sanitizer that contains at least 60 percent alcohol. Stay six feet away from people who are not part
                    of your household.
                </li>
                <li><strong>If you believe you’ve been exposed to the disease,</strong> contact your doctor, follow the
                    quarantine instructions from medical providers and monitor your symptoms. If you’re experiencing a
                    medical emergency, call 9-1-1 and shelter in place with a mask, if possible, until help arrives.
                </li>
                <li><strong>Share accurate information about the disease</strong>with friends, family and people on
                    social media. Sharing bad information about the disease or treatments for the disease may have
                    serious health outcomes. Remember that stigma hurts everyone and can cause discrimination against
                    people, places or nations.
                </li>
                <li><strong>Know that it’s normal to feel anxious or stressed.</strong> Engage virtually with your
                    community through video and phone calls. Take care of your body and talk to someone if you are
                    feeling upset.
                </li>
            </ul>


            <h5>Stay Safe After a Pandemic</h5>

            <ul>
                <li>
                    <strong>Continue taking protective actions, like:</strong>

                    <ul>
                        <li>Staying home when you are sick (except to get medical care).</li>
                        <li>Following the guidance of your health care provider.</li>
                        <li>Covering coughs and sneezes with a tissue.</li>
                        <li>Washing your hands with soap and water for at least 20 seconds.</li>
                    </ul>
                </li>

                <li>
                    <strong>Be sure to evaluate your family emergency plan</strong> and make timely updates.
                </li>
                <li>
                    <strong>Work with your community</strong>to talk about the lessons you learned from the pandemic.
                    Decide how you can use these experiences to be more prepared for future pandemics.

                </li>
            </ul>


            <em><i>Source: Ready.gov</i></em>

        </div>
    </div>
</div>