<div class="container">
    <div class="row mb-3">
        <div class="col text-center">
            <h4><strong>You Can Buy Our Products Through</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h5 class="text-muted">PAYMENT METHODS</h5>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <div class="media">
                <img class="mr-3 img-fluid"  style="height: 60px;" src="assets/img/delivery-truck.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Cash on Delivery (COD)</h5>

                    <ul>
                        <li>Cash on delivery (COD) payment is one option available for those who are uncomfortable making payments in advance.</li>

                        <li>To avoid any inconvinience, please prepare the exact amount stated in the check-out page plus delivery fee (if applicable).</li>

                        <li>For security purposes, the maximum allowable amount for COD transaction isPHP 4,000.00 and below.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <div class="media">
                <img class="mr-3 img-fluid"  style="height: 60px;" src="assets/img/g-cash.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">GCash</h5>

                    <ul>
                        <li>Upon checkout, choose GCash as payment method.</li>

                        <li>To see GCash in the options, click "View all Methods".</li>

                        <li>Confirm using GCash.</li>
                        <li>You will be redirected to GCash Login Page. If you do not have GCash account, you will be given the option to create one.</li>
                        <li>You will receive an authentication code before successfully logging in.</li>
                        <li>After successfully making the payment, you will receive a notification with your reference number.</li>
                        <li>To verify and confirm payment, kindly e-mail us @ order@getready.ph or text us @ 09564276903 the following details:  Your Gcash transaction reference number, GRPH order number and the total amount paid.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col mb-3">
            <div class="media">
                <img class="mr-3 img-fluid"  style="height: 60px;" src="assets/img/money-transfer.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Online Bank Transfer</h5>
                    <ul>
                        <li>Complete the merchant’s checkout process and select bank transfer.</li>

                        <li>Log in to your online account and select the option for making a payment. Follow the instructions on screen to enter the correct details. Some banks also offer smartphone apps that allow you to transfer money.
                        </li>

                        <!-- <li>After completing the transaction please screenshot copy of the confirmation page for reference.</li> -->

                        <li>After completing the transaction please screenshot copy of the confirmation page for reference and send to order@getready.ph as proof of payment along with your order reference number.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col mb-3">
            <div class="media">
                <img class="mr-3 img-fluid"  style="height: 60px;" src="assets/img/bank.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Bank Deposit</h5>
                    <ul>
                        <li>Choose Bank Deposit Option.</li>

                        <li>GetReadyPh will send you bank details.</li>

                        <!-- <li>- Confirm using GCash.</li> -->
                        <li>Send deposit slip to order@getready.ph as proof of payment.</li>

                        <li>After completing the bank deposit, please take a photo of your deposit slip and send to order@getready.ph as proof of payment along with your order reference number.
                        </li>

                        <li>Kindly note receipt of full payment and accurate order details must be received before we start processing the order.</li>



                        <!-- <li>- You will receive an authentication code before successfully logging in.</li>
                        <li>- After successfully making the payment, you will receive a notification with your reference number.</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h6>For clarifications or further inquiries, you can chat with our Customer Care Specialist from Monday - Sunday (except on holidays) from 8am to 8pm or you may send your inquiries and concerns at <span class="text-primary">inquiry@getready.ph</span></h6>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h5 class="text-muted">PAYMENT PROTECTION</h5>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h6 class=""><strong>How do I make my online payment secure?</strong></h6>

            <p>Make sure that both Wi-Fi connection and the website URL that you are using are secure. Never share personal or financial data over a public Wi-Fi connection. If you must shop over public Wi-Fi, use a VPN (virtual private network) to add security to the transaction.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h6 class=""><strong>What do you do with unauthorized transactions?</strong></h6>

            <p>Report a suspicious charge or debit immediately. Contact your bank or cart provider immediately if you suspect an unauthorized debit or charge. If a thief charges items to you account, you should cancel the card and have it replaced before more transactions come through. Contact GetReadyPH customer service to verify and freeze the transactions on your account.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <h6 class=""><strong>What to do if an unauthorized person is requesting to receive the payment outside GRPH website or application?</strong></h6>

            <p>Payments made by customers to persons who were not given authority by GRPH, by law or by the courts are not valid. Always make sure to complete your transaction via GRPH website or application. Beware of online scammers.
            </p>
        </div>
    </div>

</div>