<div class="container">
    <div class="row">
        <div class="col text-center mb-2">
            <img src="assets/img/trainings1.png" class="img-fluid" alt="" style="height: 300px;">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-center">
            <h4><strong>Trainings - Learn What To Do</strong></h4>
            <h6>Being well prepared for any potential emergencies is something that is essential for every person of every age.</h6>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <p class="text-justify">
                Everyone knows that but very, very few actually take the time to learn as it is something that everyone seems to keep putting it off or postponing it, with the assumption that they could always find time later to do it...only to find out unfortunately that <strong>LATER IS WAY TOO LATE!</strong>
            </p>

            <p class="text-justify">
                Here at GetReadyPH, we understand the urgency of such matters. We have assembled a team of professionals, qualified instructors, trainers, practitioners and even those in authority in the field of various emergencies under our umbrella. We also take into consideration the manner of training which will be most appropriate or comfortable to you. Now you have the comfort of having the type of training you need for the various risks you face. You can now undergo the specific type of training, one chapter at a time, starting with the one that you feel will be most relevant to you based on your lifestyle and daily routine. You can do it with multiple attendees or just for one person.
            </p>

            <p class="text-justify">
                You can do it in-house, outdoor, or even through an online video session for most of the topics!

            </p>

            <p class="text-justify">
                These are the categories of training and seminars that we here at GetReadyPH can provide you.
            </p>

            <ol type="a">
                <li>Basic Life Support, Basic First Aid, CPR Training</li>
                <li>Earthquake Preparedness Seminar</li>
                <li>Outdoor Survival Training</li>
                <li>Water Rescue Training</li>
                <li>Shallow Water Egress Training</li>
                <li>Emergency Evacuation</li>
                <li>High Angle Rescue Training</li>
                <li>Fire Prevention and Preparedness Training</li>
            </ol>

            <h5>
                All you have to do is click on this <a href="javascript:void(0)" routerLink="/training-form">link</a> and fill in your request and we will contact you and provide you more information on your request.
            </h5>
        </div>
    </div>

</div>