/* You can add global styles to this file, and also import other style files */

html,
body {
  // height: 100%;
  // background: url(assets/img/form-background.jpg) no-repeat center center fixed;
  //  -webkit-background-size: cover;
  //  -moz-background-size: cover;
  //  -o-background-size: cover;
  //  background-size: cover;

  //  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";



.bg-ez-grad {
  background: -webkit-linear-gradient(90deg, rgb(4, 165, 215) 22%, rgb(39, 200, 219) 75%, rgb(23, 184, 217) 91%);
  background: -o-linear-gradient(90deg, rgb(4, 165, 215) 22%, rgb(39, 200, 219) 75%, rgb(23, 184, 217) 91%);
  background: -moz-linear-gradient(90deg, rgb(4, 165, 215) 22%, rgb(39, 200, 219) 75%, rgb(23, 184, 217) 91%);
  background: linear-gradient(90deg, rgb(4, 165, 215) 22%, rgb(39, 200, 219) 75%, rgb(23, 184, 217) 91%);
}

.bg-ez-primary {
  background-color: #22c3db;
  color: #ffffff;
}

.bg-ez-outline-primary {
  border: 1px solid #22c3db;
  color: #22c3db;
}

.bg-ez-outline-primary:hover {
  background-color: #22c3db;
  color: #ffffff;
}

.bg-ez-badge-primary {
  background-color: #e6f5fa;
  color: #00a1d6;
}

.bg-black {
  background-color: #000000;
}

.bg-ez {
  background-color: #00a1d6;
}

.bg-ez-gray {
  background-color: #f1f1f1;
}



.hero-cover {
  /* The image used */
  // background-image: url("");

  // /* Full height */
  // height: 100%;

  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  background: url(assets/img/bbi-wallpaper.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;

  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.gprh-p-inputnumber.p-inputnumber {
  .p-inputnumber-button {
    background-color:#6C757D !important;
    border: none;

  }


  .p-inputnumber-input {
    width: 30px;
  }
}
