<div class="container-fluid">

	<div class="row mb-5">
		<div class="col-md-12 text-center">
			<img src="assets/img/homebanner.jpg" class="img-fluid" alt="Responsive image" style="height: 300px;">
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-md-4 text-md-right">
			<img src="assets/img/homemission.jpg" class="img-fluid" alt="Responsive image" style="height: 300px;">
		</div>
		<div class="col-md-4 text-md-center">
			<img src="assets/img/homevission.jpg" class="img-fluid" alt="Responsive image" style="height: 300px;">

		</div>
		<div class="col-md-4 text-md-left">
			<img src="assets/img/homecore.jpg" class="img-fluid" alt="Responsive image" style="height: 300px;">
		</div>
	</div>

	<!-- <div class="row mb-5">
		<div class="col-md-12 text-center">
			
		</div>
	</div> -->

	<div class="row mb-5">
		<div class="col-md-12 text-center">
			<img src="assets/img/prescorner.jpg" class="img-fluid" alt="Responsive image">
		</div>

	</div>


	<div class="row mb-5">
		<div class="col-md-12 text-center">
			<img src="assets/img/aniv2.jpg" class="img-fluid mt-5" alt="Responsive image">
		</div>

	</div>


	<div class="row mb-5">
		<div class="col-md-6 text-center">
			<img src="assets/img/xmasmsg.jpg" class="img-fluid" alt="Responsive image" style="height: 600px;">
		</div>

		<div class="col-md-6 text-center">
			<img src="assets/img/aniv.jpg" class="img-fluid" alt="Responsive image" style="height: 600px;">
		</div>
	</div>
</div>

